<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

	<property name="USER_HOME" value="/opt/log" />
	<property name="LOG_CHARSET" value="UTF-8" />
	<property name="LOG_MSG"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %X{UUID} %-5p [%c-%L] - %m%n" />
	<property name="LOG_DIR" value="${USER_HOME}/%d{yyyyMMdd}" />

	<appender name="FILE-Roll"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${USER_HOME}/${CHANNEL}.log</File>
		<Append>true</Append>
		<discriminator>
			<Key>CHANNEL</Key>
			<DefaultValue>other</DefaultValue>
		</discriminator>


		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_DIR}/${CHANNEL}%i.log</FileNamePattern>

			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>30MB</maxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>


		<encoder>
			<pattern>${LOG_MSG}</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="FILE-Roll" />
	</root>

</configuration>