<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

	<contextName>myAppName</contextName><!-- 区分不同应用程序的记录，默认为default -->

	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/opt/debug.log</file>


		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>/opt/logs/tests.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>30000</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>30MB</maxFileSize>
		</triggeringPolicy>



		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} -
				%msg%n</pattern>
		</encoder>

	</appender>


	<root level="DEBUG">
		<appender-ref ref="file" />
	</root>

</configuration>