<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="LOG: [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %-5level  %msg -- [%logger{36}]%n" />
		</Console>
	</appenders>
	<loggers>
		<root level="debug">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>