<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">

	<!-- 控制台输出 -->
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="LOG: [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %-5level  %msg -- [%logger{36}]%n" />
		</Console>
	</appenders>
	<loggers>
		<!-- 第三方 -->
		<logger name="io.netty" level="info" />
		<logger name="org.apache" level="info" />

		<!-- Root Logger -->
		<root level="debug">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>